.cv-form-data {
  width: 30%;
  text-align: center;
}
label {
  width: 100%;
  display: inline-block;
}

.App {
  display: flex;
}
.cv-description {
  margin-bottom: 1rem;
}

.cv-header {
  width: 100%;
  background: bisque;
  margin-bottom: 1rem;
}
.cv-main-content {
  background: burlywood;
}
.cv-experience__dates {
  width: 50%;
  display: flex;
}
.cv-education {
  display: flex;
}
.cv-education__dates {
  width: 50%;
}
.cv-experience {
  display: flex;
}
.cv-output {
  width: 60%;
}
